.profile-heading{
    text-align: center;
    margin: 10px 0px;
}
.listWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 10px;
}
.listItem{
    width: 350px;
    border: 1px solid #00923F;
    padding: 10px;
    border-radius: 5px;
}
.profilebtn{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}